aesara==2.9.4
aiohttp==3.13.2
amdsmi==7.0.2
array2gif==1.0.4
array_api_compat==1.13.0
asgiref==3.11.0
astunparse==1.6.3
attr==0.3.2
audio.wave==4.0.2
boto3==1.36.26
Box2D==2.3.10
chainer==7.8.1
charset_normalizer==3.4.1
checks==0.2
comet_ml==3.55.0
ConfigParser==7.2.0
contextlib2==21.6.0
coremltools==9.0
cryptography==46.0.3
ctypes_snappy==1.03
Cython==3.2.4
deeplearning==0.0.1
dill==0.4.1
dl==0.1.0
docutils==0.22.4
etcd==2.0.8
expecttest==0.3.0
fastparquet==2025.12.0
fbscribelogger==0.1.7
flax==0.12.2
flint==0.0.1
glfw==2.10.0
gmpy2==2.2.2
helion==0.2.10
hilbertcurve==2.0.5
HTMLParser==0.0.2
hypothesis==6.150.2
imageio==2.37.0
importlib_resources==6.5.2
ini2toml==0.15
ipython==8.12.3
ipywidgets==8.1.8
isal==1.8.0
jax==0.5.2
jnius==1.1.0
kerchunk==0.2.9
keyring==25.7.0
lockfile==0.12.2
lxml==6.0.2
lz4==4.4.5
lzmaffi==0.3.0
matchpy==0.5.5
mock==5.2.0
monkeytype==23.3.0
moviepy==2.1.2
mtrand==0.1
multiset==3.2.0
mypy==1.19.1
objgraph==3.6.2
onnx_ir==0.1.14
onnxscript==0.5.7
opencv_contrib_python==4.11.0.86
optree==0.18.0
pandas==2.3.3
paramiko==4.0.0
Pillow==12.1.0
pkg1==0.0.3
psutil==7.0.0
psycopg2_binary==2.9.10
pulp==3.3.0
pwlf==2.5.2
py==1.11.0
pyarrow==23.0.0
pycosat==0.6.6
pycute==0.1.0
pydot==4.0.1
pydy==0.8.0
pygit2==1.19.1
pyglet==2.1.12
pygraphviz==1.14
PyInstaller==6.18.0
pyinstrument==5.1.2
pymc==5.27.0
pymc3==3.11.6
pynvml==13.0.1
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
pysat==3.2.2
pytest_subtests==0.15.0
pytorch_lightning==2.6.0
pytz==2025.2
pywin32==308
PyYAML==6.0.2
PyYAML==6.0.3
railroad==0.5.0
redis==7.1.0
requests_kerberos==0.15.0
safetensors==0.7.0
sage==0.0.0
scipy==1.17.0
scipy_doctest==2.0.1
smbprotocol==1.15.0
soundfile==0.13.1
Sphinx==9.1.0
symengine==0.14.1
tabulate==0.9.0
theano==1.0.5
thread==2.0.6
threadpoolctl==3.6.0
tomli_w==1.2.0
torch_xla==2.9.0
torchaudio==2.9.1
torchrec==1.4.0
torchvision==0.24.1
tornado==6.4.2
tqdm==4.67.1
trove_classifiers==2026.1.14.14
truststore==0.10.4
ujson==5.11.0
urllib3_secure_extra==0.1.0
VideoCapture==0.9.5
visdom==0.2.4
watchdog==6.0.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==3.3.2
yarl==1.22.0
z3==0.2.0
zstandard==0.25.0
